body {
 font-family: 'Courier Prime', monospace;
 background-color: rgb(162, 218, 252);
}

main {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

h1,
button,
section {
 flex: 1 0 auto;
}

#highScorePersistent {
 position: absolute;
 top: 320px;
 left: 50px;
}

#countDownClock {
 position: absolute;
 top: 320px;
 right: 50px;
}

#questions {
 margin: 50px auto;
 font-weight: 600;
}

/* Hides "correct"or "incorrect" from the screen until answer is clicked*/
#checkAnswer {
 display: none;
}

/* #highScores {
 display: none;
}*/